@tailwind base;
@tailwind components;
@tailwind utilities;


/* scroll bar design */
::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(213, 209, 209);
    border-radius: 8px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(179, 177, 177);
    border-radius: 8px;
  }